<!--/*The About page should have:

The navigation links.
A picture displayed.  Place the image in the public folder.
Two paragraphs with Lorem Ipsum text( http://www.lipsum.com/ (Links to an external site.) )-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link type="text/css" rel="stylesheet" href="style.css">
        <title>Lab 2 - Angie Well - About Page</title>
    </head>
<body>
    <div>
        <h1>Welcome to the About Page</h1>

        <h2>Links:</h2>
        <ul>
                <li><a href="http://localhost:3000/index">Index Page</a></li>
                <li><a href="http://localhost:3000/form">Form Page</a></li>
                <li><a href="http://localhost:3000/about">About Page</a></li>
        </ul>

        <p>
            Aenean ligula mi, eleifend vel lorem eu, consectetur placerat leo. 
            Sed eget orci massa. 
            Ut blandit hendrerit felis quis malesuada. 
            Curabitur lobortis nulla nisl. 
            Nam mattis lectus sit amet orci dapibus, tincidunt aliquet tortor vehicula. 
            Ut egestas maximus varius. 
            Aenean vitae libero ipsum. 
            Maecenas ac tristique diam. 
            Sed vitae augue ante. 
            Donec et blandit sapien. 
            Fusce at dolor et nisi congue posuere id tempus mi. 
            Donec non lobortis ligula, non mattis felis. 
            Vestibulum tristique rhoncus libero ut dignissim. 
            Mauris ac sem eget urna tristique malesuada. 
            Nulla feugiat laoreet odio, a ornare felis lacinia vel. 
            Nullam malesuada neque sit amet odio auctor, id condimentum sem dignissim.
        </p>

        <img src="ferry.jpg" alt="fer" width="1500" height="3000">

        <p>
            Maecenas placerat quam congue suscipit semper. 
            Vivamus a efficitur sem, id rutrum erat. 
            Sed iaculis volutpat lorem, non posuere lorem vulputate ac. 
            Donec sollicitudin dolor quis magna eleifend elementum. 
            Maecenas bibendum aliquet efficitur. 
            Phasellus euismod finibus dui sed porta. 
            Ut finibus consectetur tortor ut dapibus. 
            Proin sed augue sed sapien semper rhoncus a non purus. 
            Donec at maximus ipsum, non rhoncus sapien. 
            Vestibulum non leo tortor. Cras sed sagittis urna.
        </p>

        
          {{> footer}}
        

   </div>
</body>
</html>